.container {
    display: flex; 
    justify-content: center;
}

.imageContainer {
    box-shadow: 5px 10px 8px #888888;
    margin: 10px;
}

.images {
    width: 12rem;
    height: 12rem;
}

.modalImages {
    width: 20rem;
    height: 20rem;
}

.modalPaper {
    width: 20rem;
    height: 20rem;
}