.weaponPics {
    width: 12rem;
    height: 10rem;
}

.modalPaper {
    width: 20rem;
    height: 21rem;
}

.container {
    margin-top: 40px;
    display: inline-block;
    width: 85%;
    word-wrap: wrap;
}

.modalPicBackground {
    text-align: center;
    width: 100%;
    height: 100%;
    background-size: auto;
    background-repeat: no-repeat;
}

@media (max-width: 769px) {

    .weaponPics {
        width: 18rem;
        height: 16rem;
    }

}