.wrapper {
    margin-top: 40px; 
}

.container {
    display: flex; 
    justify-content: center; 
}

.mainInfo {
    width: 55%;
    height: 50%;
}

.title {
    margin-top: 20px;
}

.content {
    margin: 20px;
}

.newsContainer {
    text-align: center; 
    margin: 20px;
}

.imageContainer {
    text-align: left; 
    margin: 20px; 
    display: flex;
}

.newsImages {
    width: 50%; 
    height: 50%;
    margin-right: 20px; 
}

@media (max-width: 380px) {
    .mainInfo {
        width: auto;
        height: auto;
        margin: 10px;
    }

    .imageContainer {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .newsImages {
        width: 100%;
        height: 100%;
    }

    .content {
        margin: 10px;
        text-align: justify;
    }

    .newsContainer{
        text-align: justify;
    }

}