.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.paper {
    width: 55%;
    height: 50%;
}

@media(max-width: 769px) {

    .paper {
        width: 100%;
        height: 100%;
        text-align: justify;
        margin: 10px;
    }

    .info {
        margin: 10px;
    }



}