.App {
  text-align: center;
  background-color: rgba(229, 243, 249, 0.5);
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: rgb(198, 236, 255);
}

@font-face {
  font-family: "fortniteFont";
  src: url("./Static/Fonts/Burbank_Big_Condensed_Black.ttf");
}

.font {
  font-family: "fortniteFont";
}



